
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
     font-family: 'Poppins', sans-serif;
}

.main-head{
padding: 4px ;
font-size: 44px;
text-align: center;
font-family: 'Roboto', sans-serif; 
font-weight: 800;

}
.main_1{
    padding: 20px;
    width: 80%;
    margin: auto;
    height: 100%;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main_div{
  padding: 12px 4px ;  
}
.main_div div label{
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
 font-family: 'Roboto', sans-serif;
 color: black;
}
.main_div input,textarea{
   font-size:14px;
   width: 100%;
   padding: 2px;
}
.submit_btn{
background-color: #4CAF50; 
  color: white;
   font-family: 'Poppins', sans-serif;
   border-radius: 4px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}